openapi: 3.0.1
info:
  title: Stacker Accounts API
  description: The Stacker API provides programmatic access to objects, records, accounts, and stacks within the Stacker no-code platform. It enables external integrations, automation workflows, and data operations across Stacker applications. Authentication uses an integration key passed via the X-Integration-Key request header.
  version: 1.0.0
  contact:
    url: https://stacker.ai/
  termsOfService: https://stacker.ai/terms
servers:
- url: https://api.go.stackerhq.com
  description: Stacker API
security:
- IntegrationKey: []
tags:
- name: Accounts
  description: Manage Stacker accounts
paths:
  /api/external/accounts/:
    get:
      operationId: listAccounts
      summary: List Accounts
      description: Returns a list of accounts accessible by the authenticated integration key. Does not require the X-Account-Id header.
      tags:
      - Accounts
      security:
      - IntegrationKey: []
      responses:
        '200':
          description: List of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
components:
  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
          description: Account identifier
        name:
          type: string
          description: Account display name
  securitySchemes:
    IntegrationKey:
      type: apiKey
      in: header
      name: X-Integration-Key
      description: Personal integration key from Account Settings > Integrations
